.container {
  margin: 10px 0;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.label {
  color: cornflowerblue;
  font-weight: 700;
}

.input {
  width: 310px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid cornflowerblue;
  border-radius: 4px;
  padding: 10px;
  color: cornflowerblue;
  background-color: antiquewhite;
  font-style: italic;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.3);
}
